/*!
 * NOTE
 * This file contains only the minimum gallery CSS
 * necessary for just the basic functionality.
 */
.gallery-nav {
  /* To be able to have a z-index: */
  position: relative;
}
.gallery-nav img {
  max-width: 150px;
}

.gallery-close {
  /* Hide closing cross initially: */
  display: none;
}

.gallery-item {
  /* Define the initial state: */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.gallery-item:target {
  /* When the image is active: */
  opacity: 1;
  z-index: 2;
}
.gallery-item:target ~ .gallery-nav {
  /* Make the original image list also the gallery navigation: */
  z-index: 3;
}
.gallery-item:target ~ .gallery-nav .gallery-close {
  display: block;
}
