/*!
 * NOTE
 * This file contains only the minimum gallery CSS
 * necessary for just the basic functionality.
 */

.gallery-nav
  // To be able to have a z-index
  position: relative

.gallery-close
  // Hide closing cross initially
  display: none

.gallery-item
  // Define the initial state
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  opacity: 0
  z-index: -1

  // When the image is active
  &:target
    opacity: 1
    z-index: 2

    // Make the original image list also the gallery navigation
    & ~ .gallery-nav
      z-index: 3

      .gallery-close
        display: block